/* Стили для параграфов внутри блока #block */
#block p {
    font-size: 1.5em; 
    margin: 10px 0; 
}

/* Стили для параграфов с классом block */
.block p {
    font-size: 1.5em; 
    margin: 10px 0; 
}

/* Стили для параграфов с классом www */
.www {
    font-weight: bold; /* Жирный текст */
    color: #2196f3; /* Синий цвет текста */
}